.skin_table {
   background-color    : #777 !important;
   background-image    : url('https://source.unsplash.com/random/featured/?nature') !important;
   background-position : center;
   background-repeat   : no-repeat;
   background-size     : cover;
}

