.skin_table {
   background-color    : #777 !important;
   background-image    : url('https://source.unsplash.com/random/featured/?nature') !important;
   background-position : center;
   background-repeat   : no-repeat;
   background-size     : cover;
}

/*While we are modding, also make a nicer looking toaster*/
.ZToastContent {
   background-color: #444444;
   box-shadow: 2px 2px 4px #000000;
}

div#z_toast_text {
    color: white !important;
}
